<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Survey</title>
	<link rel="icon" type="image/png" href="/img/favicon.png"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="stylesheet" href="/css/style2.css"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<!-- MultiStep Form -->
<div class="main-wap">
	<div class="colmd6">
		<div id="msform">
			<!-- progressbar -->

			<!-- fieldsets -->
			<fieldset>
				<h2 class="fs-title">Choose your favouring rating system</h2>
				<h3 class="fs-subtitle">Your ratings will be considered very helpful into the final ratings provided by
					the studio, would you like to re-rate it again ? If so, which one of the rating scales would you use?
				</h3>
				<div class="table-responsive">
					<form action="/app/rating-system/fav" method="POST">
						<table class="table">
							<tr>
								<td><input type="radio" name="favSystem" value="1"/></td>
								<td><img class="rating-image-pack" src="/img/color-circle-pack.png" alt=""/></td>
							</tr>

							<tr>
								<td><input type="radio" name="favSystem" value="2"/></td>
								<td><img class="rating-image-pack" src="/img/color-star-pack.png" alt=""/></td>
							</tr>

							<tr>
								<td><input type="radio" name="favSystem" value="3"/></td>
								<td><img class="rating-image-pack" src="/img/color-emo-pack.png" alt=""/></td>
							</tr>

							<!--<tr>
								<td><input type="radio" name="favSystem" value="4"/></td>
								&lt;!&ndash;<td><img class="rating-image-pack" src="/img/color-emo-pack.png" alt=""/></td>&ndash;&gt;
                                <td>Gradient</td>
							</tr>-->

							<tr>
								<td><input type="radio" name="favSystem" value="5"/></td>
								<td><img class="rating-image-pack" src="/img/bw-circle-pack.png" alt=""/></td>
							</tr>

							<tr>
								<td><input type="radio" name="favSystem" value="6"/></td>
								<td><img class="rating-image-pack" src="/img/bw-emo-pack.png" alt=""/></td>
							</tr>

							<tr>
								<td><input type="radio" name="favSystem" value="7"/></td>
								<td><img class="rating-image-pack" src="/img/bw-star-pack.png" alt=""/></td>
							</tr>
						</table>

						<input id="btnSubmitFavRatingSystem" type="submit" class="action-button" value="next"/>
					</form>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<!-- /.MultiStep Form -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/main.js"></script>

<script>
    $(document).ready(function() {
        $("#btnSubmitFavRatingSystem").attr("disabled", true);

        $("input[name='favSystem']").on("change", function()
        {
            if (!$("input[name='favSystem']:checked").val()) {
                $("#btnSubmitFavRatingSystem").attr("disabled", true);
            }
            else {
                $("#btnSubmitFavRatingSystem").attr("disabled", false);
            }
        });
    });

</script>

</body>

</html>