<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Survey</title>
	<link rel="icon" type="image/png" href="/img/favicon.png"/>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/style.css"/>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<!-- MultiStep Form -->
<div class="main-wap">
	<div class="colmd6">
		<div id="msform">
			<!-- progressbar -->

			<!-- fieldsets -->
			<fieldset>
				<h2 class="fs-title">Seleted Movies</h2>
				<h3 class="fs-subtitle">Your selected movies are here. Click on Start, to start rating.</h3>

				<div class="movie-items">
					<div th:each="movie : ${movies}">
						<label class="itemCheckBox movie-items-each">
							<span class="item-wap">
								<img th:src="${movie.getLogo()}" alt="" class="img-responsive"/>
								<label class="mTitle" th:text="${movie.getName()}"></label>
							</span>
						</label>
					</div>
				</div>

				<div class="clearfix"></div>
				<div class="btn">
					<table>
						<tbody>
							<tr>
								<form action="/app/movie/gallery" method="GET">
									<input type="submit" class="action-button-previous" value="Previous" />
								</form>
							</tr>
							<tr>
								<form action="/app/movie/rating/1" method="GET">
									<input type="submit" class="action-button" value="Start"/>
								</form>
							</tr>
						</tbody>
					</table>
				</div>

			</fieldset>
		</div>
	</div>
</div>
<!-- /.MultiStep Form -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/main.js"></script>
</body>

</html>